<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增</title>
</head>
<body>
<form action="/student/update" method="post" th:object="${stuEditmodel.student}">
    学号：<input type="text" name="id" th:value="*{id}" readonly>
    姓名：<input type="text" name="name" th:value="*{name}">
    年龄：<input type="text" name="age" th:value="*{age}">
    地址：<input type="text" name="address" th:value="*{address}">
    性别：<input type="text" name="gender" th:value="*{gender}">
    <input type="submit" value="添加">
</form>
</body>
</html>
